/* Importando font Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* Primer div que abarca todo el contenido */
.flex-padre{
    display: flex;
}
/* Atributos para la etiqueta section que ocupa el lado izquierdo de la pantalla */
.flex-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30em;
    min-height: 100vh;
    background-color: #E8EBE4;
    border: solid 3px lightgrey;
}
/* Atributos para el primer contenedor que contiene la imagen del usuario */
.div-avatar{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: solid 3px lightgrey;
}
.div-subavatar{
    display: flex;
}
.div-p{
    padding-left: 1.2em;
    padding-top: 0.8em;
}
.p-special{
    color:gray;
    font-size: small;
}
.img-avatar{
    width: 20%;
    border-radius: 50%;
    border: solid 1px #A491D2;
    padding: 2px;
}
.div-icon{
    display: flex;
    padding-top: 0.8em;
}
.div-icon i{
    padding-top: 0.5em;
    padding-right: 0.4em;
}
/* Atributos para el segundo contener que contiene el botón */
.div-button{
    padding-top:2em ;
    padding-bottom: 2em;
}
.div-button button{
    padding: 1.5em 3.5em 1.5em 3.5em;
    background-color: #A491D2;
    border: none;
    cursor: pointer;
    color: white;
    font-size: medium;
    border-radius:20px;
    transition: background-color 0.5s linear;
}
.div-button button:active{
    background-color: #CDC3E6;
}
/* Atributos para los siguientes contenedores de los avatares de los amigos en el chat */
.div-friends{
    display: flex;
    padding: 1em;
    border-bottom: solid 3px lightgrey;
}
.div-friends_special{
    display: flex;
    padding: 1em;
    border-bottom: solid 3px lightgrey;
    border-top: solid 3px lightgrey;
}
.img-friends{
    width: 15%;
    border-radius: 50%;
    border: solid 1px #A491D2;
    padding: 2px;
}
.p-message{
    font-size: smaller;
}

/* Atributos para la etiqueta Main que se encuentra en el lado derecho de la pantalla */
.flex-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
main img{
    width: 40%;
    border: solid 3px #A491D2;
    padding: 2px;
    border-radius: 10%;
}